.body {
  background: white;
  min-height: 100vh;
}

.circle {
  width: 150px;
  height: 150px;
  align-items: center;
  border-radius: 50%;
  background: #ff705a;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
.circle label {
  display: block;
}
.circle label input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #001733;
  color: black;
  margin: 8px;
  text-align: center;
  width: 60px;
}

.line {
  min-width: 100vw;
  min-height: 100vh;
  stroke: #001733;
  stroke-width: 2;
}

.line-settings {
  position: absolute;
  background:#001733;
  border: none;
  border-radius: 10px;
  color: #f5efed;
  margin: 8px;
  padding: 10px;
  text-align: center;
}

.line-settings input {
  background: transparent;
  border: none;
  color: #f5efed;
  text-align: center;
  width: 40px;
  z-index: 100;
}

.problem {
  background: #001733;
  color: #f5efed;
  padding: 15px;
  margin-bottom: 75px;
}

.problem .description {
  max-width: 500px;
}

#root {
  align-items: center;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}